
.about__inner {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}
.about__title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 48%;
    height: 5vw;
    font-size: 2.1vw;
    font-weight: 900;
    line-height: 2.5;
    font-family: var(--mainKor-font);
    color: var(--white);
    border-bottom: 0.4vw solid var(--white);
}

.about__desc {
    width: 50%;
}
.about__desc span {
    font-size: 1.7vw;
    line-height: 1;
    font-weight: 900;
    line-height: 1.3;
    font-family: var(--mainNum-font);
}
.about__desc h3 {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 0.3vw;
}
.about__desc p {
    margin-bottom: 5vh;
    font-weight: 300;
    font-size: 0.9rem;
}

@media (max-width: 800px){
    .about__inner {
        flex-direction: column;
    }
    .about__title {
        width: 100%;
        margin-bottom: 5vw;
        font-size: 20px;
        height: auto;
        top: 68px;
        background-color: var(--black100);
    }
    .about__desc {
        width: 100%;
    }
    .about__desc span{
        font-size: 1rem;
    }

}