#intro {
    height: 100vh;
}
.intro__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 16px;
}
.animated__title {
    font-size: 7vw;
    margin-top: 5vw;
    line-height: 1;
    font-weight: 800;
    white-space: nowrap;
    text-indent: -0.5vw;
    letter-spacing: -0.3vw;
}
.animated__title span {
    position: relative;
}
.animated__title span::before {
    content: "Marketer";
    color: #81c628;
    animation: words 20s infinite;
}
.animated__title span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 80%;
    background-color: var(--black100);
    border-left: 2px solid #81c628;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
.intro__text {
    width: 100%;
    height: 40vh;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.intro__text .text {
    font-size: 3vw;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    position: relative;
    z-index: 100;
    transition: all 0.3s;
    cursor: all-scroll;
}
.intro__text .img {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 70vh;
    height: 30vh;
    border-radius: 5%;
    overflow: hidden;
    filter: grayscale(100%);
    transition: all 0.3s;
}
.intro__text:hover .text {
    opacity: 0;
}
.intro__text:hover .img {
    filter: grayscale(0);
}
.intro__lines {
    width: 100%;
}
.intro__lines .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    margin-bottom: 0.5vw;
}
.intro__lines.bottom .line {
    margin-top: 0.5vw;
    margin-bottom: 0;
    display: none;
}
.intro__lines .line:nth-child(1){
    height: 1px;
}
.intro__lines .line:nth-child(2){
    height: 2px;
}
.intro__lines .line:nth-child(3){
    height: 5px;
}
.intro__lines .line:nth-child(4){
    height: 9px;
}
.intro__lines .line:nth-child(5){
    height: 13px;
}
.intro__lines .line:nth-child(6){
    height: 17px;
}
.intro__lines .line:nth-child(7){
    height: 25px;
}
.intro__lines.bottom .line:nth-child(1){
    height: 25px;
}
.intro__lines.bottom .line:nth-child(2){
    height: 17px;
}
.intro__lines.bottom .line:nth-child(3){
    height: 13px;
}
.intro__lines.bottom .line:nth-child(4){
    height: 9px;
}
.intro__lines.bottom .line:nth-child(5){
    height: 5px;
}
.intro__lines.bottom .line:nth-child(6){
    height: 2px;
}
.intro__lines.bottom .line:nth-child(7){
    height: 1px;
}

@media (max-width: 800px){
    .intro__inner {
        justify-content: center;
    }
    .intro__text .img {
        width: 50vh;
        height: 30vh;
    }
    .intro__lines.bottom .line {
        display: block;
    }
    .intro__text .text {
        font-size: 24px;
    }
}
@media (max-width: 320px){
    .animated__title {
        display: none;
    }
}

@keyframes cursor {
    to{
        border-left: 2px solid #81c628;
    }
}

@keyframes words {
    0%, 20%{
        content: "Marketer"
    }
    21%, 40%{
        content: "Planner"
    }
    41%, 60%{
        content: "Creator"
    }
    61%, 80%{
        content: "Analysis"
    }
    81%, 100%{
        content: "Writer"
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    } 
}