
.skill__inner {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}
.skill__title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 48%;
    height: 5vw;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    color: var(--white);
    border-bottom: 0.4vw solid var(--white);
}

.skill__desc {
    width: 50%;
}
.skill__desc span {
    font-size: 2vw;
    line-height: 1;
    font-weight: 900;
    line-height: 1.3;
    font-family: var(--mainNum-font);
}
.skill__desc h3 {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 0.3vw;
}
.skill__desc p {
    margin-bottom: 5vh;
    font-weight: 300;
    font-size: 1rem;
}

@media (max-width: 800px){
    .skill__inner {
        flex-direction: column;
    }
    .skill__title {
        width: 100%;
        margin-bottom: 5vw;
        font-size: 30px;
        height: auto;
        top: 68px;
        background-color: var(--black100);
    }
    .skill__desc {
        width: 100%;
    }
    .skill__desc span{
        font-size: 1.2rem;
    }

}