#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 1rem;
}
.header__logo {
    width: calc(3.5rem - 1rem);
    position: relative;
    margin-top: 2px;
    margin-left: 10px;
}
.header__sub h1 {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    word-spacing: 1px;
    margin: 1vw;
}
.header__nav li {
    display: inline;
}
.header__nav li a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 14px;
    position: relative;
}
.header__nav li a::before {
    width: calc(100% - 28px);
    height: 1px;
    background-color: var(--black);
    position: absolute;
    left: 14px;
    bottom: 10px;
    transform: scaleX(0);
    transition: all 0.3s;
}
.header__nav li a:hover::before {
    transform: scaleX(1);
}
.header__nav__mobile {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.header__nav__mobile span {
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--black);
    margin-top: 19px;
    position: relative;
}
.header__nav__mobile span::before {
    content: "";
    width: 40px;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    right: 0;
    top: 6px;
    transition: width 0.3s;
}
.header__nav__mobile span::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    bottom: 6px;
    transition: width 0.3s;
}

@media (max-width: 800px){
    .header__nav {
        display: none;
    }
    .header__nav.show {
        display: block;
    }
    .header__nav.show ul {
        display: block;
        position: absolute;
        right: 0;
        top: 68px;
        background-color: transparent;
        color: black;
        z-index: 10000;
        min-width: 150px;
        padding: 20px 0;
    }
    .header__nav.show li {
        display: block;
        text-align: right;
        color: black;
    }
    .header__nav.show li a {
        display: inline-block;
        padding: 10px;
        color: black;
    }
    .header__nav.show + .header__nav__mobile span::before {
        width: 20px;
        color: black;
    }
    .header__nav.show + .header__nav__mobile span::after {
        width: 20px;
        color: black;
    }
    .header__nav__mobile {
        display: block;
    }
}